/*  your css code here. If applicable */
/* table, td {
	border : 1px solid black;
	border-collapse: collapse
}
 */
h1 {
	text-align : center;
}
table.middle {
            border: 1px solid black;
            border-collapse: collapse;
            margin: 20px auto;
	        width : 100%
        }

        table.middle td {
            border: 1px solid black;
            padding: 1px;
            spacing: 1px;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .green {
            background-color: green;
        }

        .blue {
            background-color: blue;
        }